In [1]:
pip install opendatasets

Requirement already satisfied: opendatasets in ./anaconda3/lib/python3.10/site-packages (0.1.22)
Requirement already satisfied: click in ./anaconda3/lib/python3.10/site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.10/site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: kaggle in ./anaconda3/lib/python3.10/site-packages (from opendatasets) (1.5.13)
Requirement already satisfied: certifi in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-slugify in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (1.26.14)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-dateutil in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: text-unidecode>=1.3 in ./anaconda3/lib/python3.10/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.10/site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.10/site-packages (from requests->kaggle->opendatasets) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import opendatasets as od

In [3]:
dataset ='https://www.kaggle.com/datasets/mysarahmadbhat/lung-cancer'

In [4]:

 od.download(dataset)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: aman10881
Your Kaggle Key: ········
Downloading lung-cancer.zip to ./lung-cancer

100%|██████████████████████████████████████| 2.00k/2.00k [00:00<00:00, 1.07MB/s]

In [5]:
 import os

In [6]:
data_dir = './lung-cancer'

In [7]:
os.listdir(data_dir)

['survey lung cancer.csv']

In [8]:
import pandas as pd

In [10]:
life_df = pd.read_csv('survey lung cancer.csv')
life_df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES